{%extends 'base.html'%}
{%load static%}




{%block title%} Category & Ingredient{%endblock title%}
{%block content%}

  
<h4 style="text-align :center;">
  Category & Ingredient
</h4>
{%for cate in category%}
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">{{cate.category_name}}</h5>
    {% for ing in cate.ingredient.all %}
    <h6 class="card-subtitle mb-2 text-muted"><li>{{ing.ingredient_name}}</li></h6>
    

    {% endfor %}
  </div>
</div>
{% endfor %}


</div>



{%endblock content%}