{%extends 'base.html'%}
{%load static%}



{%block title%} Category & Ingredient{%endblock title%}
{%block content%}

{%for cate in category%}
<tr>

    <td>Name : {{cate.category_name}}</td>
    <br>

    {% for ing in cate.ingredient.all %}
    
    <td>{{ing.ingredient_name}}<br></td>

    {% endfor %}
    
    <br>
    <br>
    <br>
    

</tr>
{% endfor %}
test
{%endblock content%}

{% comment %}For correct implementation of tables in html, refer to this link https://www.w3schools.com/html/html_tables.asp{% endcomment %}
{% comment %}No need for line breaks in a table (<br>) {% endcomment %}
{% comment %} Use good variable naming in loops to help make it readible, dont be lazy{% endcomment %}