{%extends 'base.html'%}
{%load static%}
{%block title%} My Recipe{%endblock title%}
{%block content%}

{% if user.is_authenticated %} 

<div class="container">
    <div class = "row" >
        {%for recipe in recipes%}
        <div class="col-3">
                <div class="card" >
                    <a href="{%url 'recipe_details' recipe_id=recipe.id %}">
                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" class="img-thumbnail" alt="">
                    </a>
                    {% endif %}
                    <a href="{%url 'recipe_details' recipe_id=recipe.id %}">
                    <p class="card-title"><b>{{recipe.food_name}}</b></p>
                </a>
                    <p class="card-title"><b>{{recipe.profile}}</b></p>
                {% if   user.username == recipe.profile.user.username %}
                <a style="text-align: center;" href="{%url 'update_recipe' recipe_id=recipe.id %}">
                        <i class="material-icons">
                            border_color
                        </i>
                    </a>
                    {% endif %}
                </div>
                </div>
        {% endfor %}
    </div>
</div>
<br> 
{% endif %}
{%endblock content%}