{%extends 'base.html'%}
{%load static%}


{%block title%}Details Page{%endblock title%}
{%block content%}






    {% if recipe.image %}


    <div class="card" style="width: 20rem; left: 500px;">
        <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
      </div>
<div class="container">

</div>
        
    {% endif %}



    <div class="card">
        <div class="card-header">
            {{recipe.food_name}}
        </div>

        <div class="card-body">
            <div class="card-body">
                <h5 class="card-title">
                    <td >
                        Ingredient
                    </td>
                </h5>
    
                <ul class="list-group list-group-flush">
                    {% for ing in recipe.ingredient.all %}
                    <li>{{ing.ingredient_name}}</li>
                    {% endfor %}
                </ul>
    
            </div> 
        </div>

            <div class="card-body">
          <h5 class="card-title">

                Recipe

        </h5>

          <p class="card-text">
                 {{recipe.recipe}}
          </p>
        </div> 



        
      </div>

          </ul>
      </div>

        Category:
    </div> 
    {%for index in recipe.category.all %}
    <li ><a href="#">{{index.category_name}}</a></td></li>
    {% endfor %}
    By:
    <a href="#" class="card-link">{{recipe.profile}}</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

    
    


    

    

{%endblock content%}