

{%extends 'base.html' %}


{%block title%}Create Recipe{%endblock title%}

{%block content%}


<form action="{% url 'update_recipe' recipe_id=recipe.id %}" method="POST" enctype="multipart/form-data">


{{form.as_p}}
{% comment %} Since you installed crispy forms, load the crispy tags first and then use it here, similar to how you implemented the form in the register page {% endcomment %}
{% csrf_token%}
<input type="submit" name="UPDATE">
{% comment  %} name attribute for input should be value {% endcomment %}

{%endblock content%}